{% extends 'word/base.html' %}

{% block body %}
    <div class="container-fluid">
        {% if object_list %}{% else %}
            <p class="alert alert-warning">未添加词库</p>
        {% endif %}
        <style>
            .word-and-translation {
                font-size: 60px;
                font-family: 微软雅黑, sans-serif;
                line-height: 100px;
            }
        </style>
        {% for obj in object_list %}
            <div class="row my-2  word-and-translation">
                <div class="col-3">{{ obj.translation }}</div>
                <div class="col-9">
                    <span onclick="playVoice({{ obj.id }})" class="panhaoyu-icon-play-voice"
                          style="color: #50c4ff"></span>
                    {% if obj.is_active %}
                        <span>{{ obj.word }}</span>
                    {% else %}
                        <span class="text-decoration-line-through">{{ obj.word }}</span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="d-flex flex-row justify-content-around" style="margin-top: 100px">
            <a class="col-4 btn btn-info" href="{% url "word:detail" current_word.id %}">开始背诵（1）</a>
            <a class="col-4 btn btn-info" href="{% url "word:change-current-learning-set" %}">换一批（4）</a>
        </div>
        <script>
            const word_ids = [
                {% for obj in object_list %}{{ obj.id }}, {% endfor %}
            ]
            addEventListener('keyup', ev => {
                if (ev.key === '1') {
                    location.pathname = '{% url "word:change-current-learning-set" %}'
                }
            })
            addEventListener('click', ev => {
                if (ev.button === 0) {
                    location.pathname = '{% url "word:change-current-learning-set" %}'
                }
            })
            $(document).ready(async () => {
                for (let id of word_ids) {
                    playVoice(id)
                    await new Promise(resolve => setTimeout(resolve, 3000))
                }
            })
        </script>
    </div>
{% endblock %}
