django
waitress
whitenoise
django-cors-headers
django-rest-framework
django-extensions
djangorestframework-simplejwt
django-filter
mysqlclient
requests
pytest
html2text
chardet
pytz
phy-django
ebbinghaus
peewee
pandas
numpy
scipy
jupyter
sympy
matplotlib